.modal {
  position: fixed;
  color: var(--color-text-primary);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  position: relative;
  background-color: var(--color-bg-secondary);
  width: 20rem;
  padding: 0rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem var(--color-backdrop);
  text-align: -webkit-center;
}

.logoutBtn {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.logoutBtn button {
  margin: 0;
  padding: 0.625rem;
  background: none;
  margin-bottom: 0.625rem;
  outline: none;
}

.yesBtn:hover {
  border-color: var(--color-green);
  color: var(--color-green);
}

.noBtn:hover {
  border-color: var(--color-pink);
  color: var(--color-pink);
}
