@import '../../../utility/css-variables.css';

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100dvw;
  max-width: 80rem;
  padding: 0px 20px;
  height: 60px;
  display: flex;
  justify-content: center;

  background-color: var(--color-bg-secondary);
}
.header__content {
  width: 90dvw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__logo {
  width: 120px;
  height: 30px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.logo__icon {
  max-width: 30px;
  max-height: 30px;
}
.logo__text {
  max-width: 74px;
  max-height: 17px;
  color: var(--color-text-primary);
}

.content__user {
  display: flex;
  gap: 12px;
  align-items: center;
}
.user__name {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-Gray1);

  cursor: pointer;
}
.user__name:hover {
  color: var(--color-blue);
}

.user__vertLine {
  display: none;
}
.user__logout {
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    fill 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
}
.user__logout:hover {
  transform: scale(0.98);
}
.user__logout path {
  fill: var(--color-Gray1);
}
.user__logout:hover path {
  fill: var(--color-blue);
}

@media (min-width: 48rem) {
  .header {
    height: 80px;
  }
  .content__logo {
    width: 181px;
    height: 40px;
    gap: 20px;
  }
  .logo__icon {
    max-width: 40px;
    max-height: 40px;
  }
  .logo__text {
    max-width: 100px;
    max-height: 45px;
  }

  .user__vertLine {
    display: block;
    width: .48px;
    height: 30px;
    background-color: var(--color-Gray1);
  }
  .user__logout {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .user__logout::after {
    content: 'Exit';

    font-family: var(--font-secondary);
    font-size: 18px;
    color: var(--color-Gray1);
  }
  .user__logout:hover:after {
    color: var(--color-blue);
  }
}
@media (min-width: 48rem) {
  .header__content {
    width: 97.5dvw;
  }
}

@media (min-width: 80rem) {
  .header {
    left: calc((100vw - 80rem) / 2);
  }
}
