@import '../../utility/css-variables.css';

.container {
  margin: 0px auto;
  min-height: 100%;
  width: 100%;
  min-width: 17.5rem;
  max-width: 80rem;
  padding: 5rem 1.25rem 1.25rem 1.25rem;
  @media (max-width: 767px) {
    padding: 3.75rem 1.25rem 1.25rem 1.25rem;
  }
  @media (min-width: 1280px) {
    display: flex;
  }
}

.navigationIconsBox {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.navigationIcon {
  width: 2.5rem;
  cursor: pointer;
  display: inline-block;
  @media (min-width: 768px) {
    width: 1.75rem;
  }
}

.navigationIcon path {
  fill: var(--color-bg-nav-icons);
  transition-property: fill;
  transition-duration: 200ms;
}

.navigationIcon:hover path {
  fill: var(--color-bg-nav-icons-active);
}

.addTransactionIcon {
  width: 66px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  @media (min-width: 1280px) {
    right: calc((100vw - 1210px) / 2);
  }
}

.addTransactionIcon circle {
  fill: var(--color-green);
  transition-property: fill;
  transition-duration: 200ms;
}

.addTransactionIcon:hover circle {
  fill: var(--color-bg-add-btn-hover);
}

.navBalanceAndCurrencyBox {
  display: flex;
  padding: 2.5rem 1rem 2.5rem 0rem;
  @media (min-width: 1280px) {
    width: 33.3%;
    height: 100%;
    display: block;
    border-right: 0.0625rem solid var(--color-middle-border);
  }
}

.navAndCurrencyBox {
  display: flex;
}

.navBalanceBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  @media (min-width: 1280px) {
    width: 100%;
  }
}

.navBox {
  margin: 0.3125rem 0.3125rem 0.3125rem 0rem;
}

.navLink {
  display: inline-block;
  margin-left: 0.3125rem;
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  color: var(--color-text-primary);
}

.active path {
  fill: var(--color-bg-nav-icons-active);
}

.active span {
  font-weight: 700;
}
