.transactionList {
  list-style: none;
  padding: 0rem;
  margin-top: 1.25rem;
}

.transactionListContainer {
  @media (min-width: 1280px) {
    width: 66.6%;
    padding: 2.5rem 1rem 2.5rem 2.875rem;
  }
}
