@import '../../utility/css-variables.css';

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100dvw;
  height: 100dvh;
}
.peach,
.violet,
.man,
.name,
.scoreWord {
  display: none;
}
.form-container {
  background-color: var(--color-bg-secondary);
  padding: 32px 20px;
  width: 20rem;
  height: 35.5rem;
}
.title-container {
  height: 1.875rem;
  width: 7.5rem;
  margin: auto auto 3.75rem auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.icon {
  width: 1.875rem;
  height: 1.875rem;
}
.text {
  width: 4.6188rem;
  height: 1.0519rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-strength-bar {
  width: 17.5rem;
}
.email,
.password,
.name-input {
  border: none;
  border-bottom: 0.0625rem solid var(--color-Gray2);
  outline: none;
  height: 2rem;
  width: 17.5rem;
  padding-left: 2.8125rem;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}
.email::placeholder,
.password::placeholder,
.name-input::placeholder {
  color: var(--color-Gray2);
}
.email-icon,
.password-icon,
.name-input-icon {
  content: '';
  position: absolute;
  left: 0.3125rem;
  top: 0.125rem;
  width: 1.5rem;
  height: 1.5rem;
}
.email-container,
.password-container,
.name-input-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.btn {
  margin-bottom: 1.25rem;
  width: 17.5rem;
  height: 3.125rem;
  border-radius: 1.25rem;
  background-color: var(--color-green);
  border: none;
  color: var(--color-bg-secondary);
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    background-color: var(--color-bg-primary);
    min-height: 64rem;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    padding: 0;
  }
  .name {
    display: block;
    position: absolute;
    width: 11.6875rem;
    height: 2.8125rem;
    transform-origin: center;
    transform: translateX(65%);
    top: 10.4375rem;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-text-primary);
  }
  .peach {
    display: block;
    position: absolute;
    width: 38.625rem;
    height: 34.1875rem;
    left: 45%;
    top: -7.5rem;
    transform: rotate(21.94deg);
  }
  .violet {
    display: block;
    position: absolute;
    width: 38.625rem;
    height: 46.6875rem;
    left: -9.5831rem;
    top: 39.6875rem;
  }
  .woman {
    display: block;
    position: absolute;
    width: 17.1206rem;
    height: 15.625rem;
    transform-origin: center;
    transform: translateX(-52%);
    top: 3.75rem;
  }
  .title-container {
    margin: 2.5rem auto 3.75rem auto;
    width: 11.3125rem;
    height: 2.5rem;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .text {
    width: 7.5625rem;
    height: 2.5rem;
  }
  .btn {
    width: 18.75rem;
  }
  .form-container {
    background-color: var(--color-bg-secondary);
    position: absolute;
    width: 33.3125rem;
    height: 38.5rem;
    transform-origin: center;
    transform: translateX(-50%);
    top: 22.5rem;
    border-radius: 1.25rem;
    padding: 0;
  }
  .email,
  .password,
  .name-input,
  .password-strength-bar {
    width: 25.625rem;
  }
}

@media (min-width: 1268px) {
  .container {
    display: flex;
    min-height: 45rem;
    width: 100dvw;
    height: 100dvh;
  }
  .blur {
    position: absolute;
    background-color: var(--color-blur);
    backdrop-filter: blur(0.625rem);
    width: 50dvw;
    height: 100dvh;
    transform: translateX(50%);
  }
  .woman {
    width: 27.2rem;
    height: 26.2188rem;
    top: 9.375rem;
    left: 25%;
    transform: translateX(-50%);
  }
  .form-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .name {
    left: 25%;
    top: 37.3438rem;
    transform: translateX(-50%);
  }
  .peach {
    left: 59.375rem;
    top: -6.875rem;
  }
  .violet {
    width: 38.625rem;
    height: 46.6875rem;
    left: -8.3331rem;
    top: 27.1875rem;
  }
}
