.btn {
    margin-bottom: 20px;
    width: 280px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #4A56E2;
    background-color: #ffffff;
    color: #4A56E2;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }