@import '../../utility/css-variables.css';
.btn {
  width: 17.5rem;
  height: 3.125rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--color-blue);
  background-color: var(--color-bg-secondary);
  color: var(--color-blue);
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-blue);
  transition: all 0.3s;
  border-radius: 1.25rem;
  z-index: -1;
}
.btn:hover {
  color: #fff;
  border: none;
}
.btn:hover::before {
  width: 100%;
}
@media (min-width: 48rem) {
  .btn {
    width: 18.75rem;
  }
}
