.transactionListHeader {
    background-color: #ffffff;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    margin-top: 10px;
  }

  .transactionDetailName {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #000000;
  }

  .dateBox {
    width: 11.66%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .typeBox {
    width: 11.66%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .categoryBox {
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .commentBox {
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .sumBox {
    width: 16.66%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .dummyBox {
    width: 16.66%;
  }
  