@import '../../../../utility/css-variables.css';

.transactionListHeader {
  background-color: var(--color-bg-secondary);
  border-radius: 1.875rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1.25rem;
  margin-top: 0.625rem;
}

.transactionDetailName {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  color: var(--color-text-primary);
}

.dateBox {
  width: 11.66%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.typeBox {
  width: 11.66%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryBox {
  width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.commentBox {
  width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.sumBox {
  width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.dummyBox {
  width: 16.66%;
}
