@import '../../utility/css-variables.css';
.btn {
  width: 17.5rem;
  height: 3.125rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--color-blue);
  background-color: var(--color-bg-secondary);
  color: var(--color-blue);
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .btn {
    width: 18.75rem;
  }
}
